.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.database_box {
  border: 2px solid black;
  width: 20em;
}

.database_section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: 1px solid black;
}

.database_piece {
  border: 1px solid black;
  width: 50%;
  margin: 5px;
}